---
// src/themes/sgi-irix/RunningMan.astro
export interface Props {
  size?: number;
  color?: string;
}
const { size = 32, color = "#33FF33" } = Astro.props;
---

<div class="sgi-running-man" style={`width:${size}px; height:${size}px; --rm-color:${color}`}>
  <div class="rm-head"></div>
  <div class="rm-body"></div>
  <div class="rm-arm rm-arm-l"></div>
  <div class="rm-arm rm-arm-r"></div>
  <div class="rm-leg rm-leg-l"></div>
  <div class="rm-leg rm-leg-r"></div>
</div>
